.nav__item{
	text-align: right;
	padding-right: 30px;
}

.nav__link{
	color: #414141;
	line-height: 45px;
	vertical-align: middle;
			&:hover {
				color: #33c1e3;
			}
}

.nav__item--active {
	padding-right: 24px;
	border-right: 6px solid #33c1e3;
		& .nav__link{
			font-family: $bold;
			color: #33c1e3;
		}		
}

.fa {
	margin-right: 5px;
}